---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
    <style>
      ul,
      li {
        margin: 0.125rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="container">
      <h1>CJ Coffey</h1>
      <ul>
        <li>Software Engineer</li>
        <li>cj@cjcoffey.com</li>
        <li>Chattanooga, TN</li>
        <li>GitHub: https://github.com/dually8</li>
      </ul>
      <h2>Objective</h2>
      <p>
        I am a software engineer that is seeking a role that helps individuals live a more comfortable and better life.
        Software engineering is, at its core, meant to automate away tasks that get in the way of spending our precious
        time towards something that matters to us. I believe in combining the best of pragmaticism and idealism into
        something that both helps individuals accomplish their goals, while also providing value for my company. I
        strive to make effective software that exceeds customer expectations.
      </p>
      <h2>Work</h2>
      <h3>Software Engineer at TVA - July 2014 to Present</h3>
      <p>
        I've had the privilege to help build and maintain enterprise level applications that help many individuals do
        their job more efficiently.
      </p>
      <ul>
        <li>Responsible for training and mentoring several interns.</li>
        <li>Integral in the development and maintenance of several mobile applications.</li>
        <li>
          Proficient in communication with customers to gather needs and requirements of software in an agile
          development environment.
        </li>
        <li>Driving force behind development and code standards of current team.</li>
        <li>
          Supports and maintains over 12 applications, including enterprise level, internal, external, and legacy
          systems.
        </li>
      </ul>
      <h3>Software Developer at Motion View Software - July 2013 to August 2014</h3>
      <p>
        As an intern, I created the companies first 3D printer application using Qt and OpenGL. I also lead the way to
        creating documentation standards for development.
      </p>
      <ul>
        <li>Researched and developed 3D printing applications using open source technologies</li>
        <li>
          Created and implemented documentation standards for both software and hardware use involving 3D printing
          technology
        </li>
        <li>Responsible for migrating and updating legacy software to be used for Windows 8</li>
      </ul>
      <h2>Education</h2>
      <h3>University of Tennessee at Chattanooga</h3>
      <ul>
        <li>Bachelor's of Computer Science; Minor in Business Administration</li>
        <li>Graduated May 2015</li>
      </ul>
      <h2>Skills</h2>
      <h3>Web Development</h3>
      <ul>
        <li>.NET Core + Razor + MVC</li>
        <li>.NET Framework + Razor + MVC</li>
        <li>Angular 2+</li>
        <li>AngularJS</li>
        <li>Astro</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>NextJS</li>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>Svelte/SvelteKit</li>
        <li>TypeScript</li>
      </ul>
      <h3>Desktop Development</h3>
      <ul>
        <li>.NET Core</li>
        <li>.NET Framework</li>
        <li>C#</li>
        <li>C++</li>
        <li>Electron</li>
        <li>Java</li>
        <li>Qt</li>
      </ul>
      <h3>Mobile Development</h3>
      <ul>
        <li>Apache Cordova</li>
        <li>Flutter</li>
        <li>Ionic</li>
        <li>Nativescript</li>
        <li>Objective-C</li>
        <li>React Native</li>
        <li>Swift</li>
      </ul>
      <h3>Other</h3>
      <ul>
        <li>Adobe Creative Suite</li>
        <li>
          Agile Development (Scrum)
          <ul>
            <li>SAFe Certified</li>
          </ul>
        </li>
        <li>Azure Active Directory</li>
        <li>Azure Cloud</li>
        <li>MSSQL</li>
        <li>MySQL</li>
        <li>NoSQL</li>
        <li>PouchDB</li>
        <li>SQL</li>
        <li>SQLite</li>
      </ul>
      <h2>Interests</h2>
      <ul>
        <li>
          Music
          <ul>
            <li>Guitar</li>
            <li>Studio Recording</li>
          </ul>
        </li>
        <li>Game Development</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
